<h2 style ="color: #B00100; margin: 0 auto">all items </h2>



<% @items.each do |item| %>
   <ul>
    <li>Имя:  <%= link_to item.name, item_path(item)  %></li>
    <li>Цена: <%= item.price %></li>
    <li>Описание: <%= item.description %></li>
    <li><%= button_to 'delete', item_path(item), method: :delete %></li>
    </ul>    
<% end  %>


<br/>

<%= link_to 'new item', new_item_path %>